# Git
.git
.gitignore

# Bağımlılıklar
vendor/
node_modules/

# Ortam Dosyaları
.env
.env.local

# Geliştirme ve Test Dosyaları
README.md
*.log
*.md
docker-compose.yml
Dockerfile

# Sistem Dosyaları
.DS_Store
Thumbs.db

# IDE Dosyaları
.vscode/
.idea/

# Vercel
.vercel

# Gereksiz PHP Dosyaları
*.phpt
*.phpc
*.phps

# Yedek Dosyalar
*~
*.bak
*.swp