# Git
.git
.gitignore

# Bağımlılıklar
vendor/
node_modules/

# Ortam Dosyaları
.env
.env.local

# Geliştirme Dosyaları
README.md
docker-compose.yml
Dockerfile

# Sistem Dosyaları
.DS_Store
Thumbs.db

# Vercel
.vercel